body{

margin:0;

overflow:hidden;

background:black;

}


#camera{

position:absolute;

width:100%;

height:100%;

object-fit:cover;

}


#canvas{

position:absolute;

top:0;

left:0;

width:100%;

height:100%;

}


.panel{

position:absolute;

bottom:10px;

left:50%;

transform:translateX(-50%);


background:rgba(255,255,255,0.75);


width:70%;

max-width:260px;


padding:8px;


border-radius:15px;


text-align:center;


backdrop-filter:blur(8px);


box-shadow:0 3px 12px rgba(0,0,0,.2);


}


.panel h2{

font-size:14px;

margin:3px 0;

}


#status{

font-size:11px;

margin:3px;

}


h1{

font-size:22px;

margin:2px;

}


button{

padding:8px;

font-size:12px;

border-radius:10px;

}


h1{

color:#007AFF;

}


button{

width:100%;

padding:15px;

border:none;

background:#007AFF;

color:white;

border-radius:15px;

font-size:18px;

}

#canvas{

touch-action:none;

}


#start{

background:#34C759;

margin-bottom:10px;

}


.line-info{

position:absolute;

color:white;

font-size:20px;

}
